@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: Montserrat-Italic;
  src: url("../../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald-VariableFont_wght.ttf");
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1568px;
}

.burger-menu {
  position: relative;
  height: 28px;
  width: 72px;
  cursor: pointer;
}
.burger-menu__bar, .burger-menu:before, .burger-menu:after {
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.burger-menu:before {
  content: "";
  top: 0;
}
.burger-menu:after {
  content: "";
  bottom: 0px;
}
.burger-menu__bar {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.burger-menu.active .burger-menu__bar {
  transform: scale(0);
}
.burger-menu.active:before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.burger-menu.active:after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu__body {
  position: fixed;
  display: flex;
  justify-content: center;
  top: -800px;
  width: 431px;
  height: 800px;
  background: url("../../../assets/images/bg/burger-menu-bg.png");
  transition: 0.3s ease-in-out;
}
.menu__body.active {
  top: 95px;
}
.menu__body_list {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  gap: 25px;
  width: 329px;
  height: 335px;
  font-weight: 400;
  font-size: 32px;
}
.menu__body_list li {
  width: 100%;
}
.menu__body_list li a:hover {
  color: #FFD600;
  transition: 0.3s linear;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  height: 97px;
  color: #fff;
  background-color: #000;
  z-index: 2;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding: 20px;
  margin-right: 185.19px;
}
.header__logo {
  height: 97px;
  width: 276px;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts_number-block {
  display: flex;
  flex-direction: column;
}
.header__contacts_number-block a:nth-child(1) {
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  color: #fff;
}
.header__contacts_number-block a:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
  color: #FFD600;
}
.header__contacts_insta {
  margin-left: 103px;
  display: block;
  width: 34px;
  height: 34px;
  background: url("../../../assets/images/svg/insta-logo.svg");
  transition: 0.3s linear;
}
.header__contacts_insta:hover {
  background: url("../../../assets/images/svg/insta-logo-color.svg");
}

.hero {
  min-height: 800px;
  padding-bottom: 30px;
  background: url("../../../assets/images/bg/hero-bg.png");
}
.hero__titles {
  margin: 0 0 140px 8px;
  padding-top: 67px;
  color: #fff;
}
.hero__titles h1 {
  padding-bottom: 29px;
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 6.875rem;
  line-height: 85%;
  border-radius: 3px;
  width: 888px;
  border-bottom: 2px solid #FFD600;
}
.hero__titles h1 span {
  color: #FFD600;
}
.hero__titles p {
  font-weight: 400;
  font-size: 32px;
  line-height: 62%;
}
.hero__titles button {
  margin-top: 66px;
  width: 378px;
  height: 67px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  background: transparent;
  transition: all 0.3s linear;
}
.hero__titles button:hover {
  border: 1px solid #FFD600;
  color: #FFD600;
  transition: all 0.3s linear;
}
.hero__info {
  display: flex;
  flex-wrap: wrap;
  gap: 74px;
}
.hero__info_block {
  padding-top: 18px;
  width: 430px;
  border-top: 3px solid #fff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
}
.hero__info_block:hover {
  color: #FFD600;
  transition: 0.3s linear;
}

.service {
  min-height: 1909px;
  margin: 232px auto 100px;
}
.service__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 112px;
  padding: 43px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.service__card:nth-child(1), .service__card:nth-child(2) {
  flex-direction: row-reverse;
}
.service__card:nth-child(4) {
  gap: 83px;
}
.service__card_info {
  margin-bottom: 38px;
  max-width: 426px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 49px;
}
.service__card_info p {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
}
.service__card_info button {
  width: 315px;
  height: 55px;
  border: 1px solid #000;
  border-radius: 0px;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  background: transparent;
  transition: all 0.3s linear;
}
.service__card_info button:hover {
  border: 1px solid #FFD600;
  color: #FFD600;
  transition: all 0.3s linear;
}
.service__card img {
  width: 960px;
  height: 400px;
}

.our-team {
  min-width: 100vw;
  min-height: 732px;
  padding: 51px 0 0 0;
  background: url("../../../assets/images/bg/our-team-bg.png");
  background-size: 1920px;
  background-position: center;
}
.our-team h2 {
  margin: 0 0 18px 0;
  font-weight: 400;
  font-size: 64px;
  color: #FFD600;
}
.our-team p {
  max-width: 968px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
}
.our-team p:nth-child(3) {
  margin: 25px 0 16px;
}
.our-team p:nth-child(4) {
  padding: 9px 0 0 0;
  margin: 0 0 31px 0;
  border-top: 2px solid #fff;
}
.our-team button {
  width: 315px;
  height: 55px;
  border: 1px solid #fff;
  border-radius: 0px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  background: transparent;
  transition: all 0.3s linear;
}
.our-team button:hover {
  border: 1px solid #FFD600;
  color: #FFD600;
  transition: all 0.3s linear;
}

.gallery {
  display: flex;
  gap: 64px;
  flex-direction: row-reverse;
  padding: 100px 0;
}
.gallery__block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery__block_window {
  display: flex;
  margin: 0 0 28.67px 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 755px;
  height: 502px;
  overflow: hidden;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
}
.gallery__block_window div {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}
.gallery__block_window div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(100%);
  transition: all 0.3s;
}
.gallery__block_window div img:hover {
  transform: scale(110%);
}
.gallery__block button {
  width: 315px;
  height: 55px;
  border: 1px solid #000;
  border-radius: 0px;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  background: transparent;
  transition: all 0.3s linear;
}
.gallery__block button:hover {
  border: 1px solid #FFD600;
  color: #FFD600;
  transition: all 0.3s linear;
}
.gallery h2 {
  margin: 60px 0 97px 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
}
.gallery p {
  font-weight: 300;
  font-size: 24px;
}

/*# sourceMappingURL=main.css.map */
