// Fonts
$primary-family: "Oswald", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Roboto", sans-serif;
$font3: "Montserrat", sans-serif;

//Colors
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #FFD600;