@import "../burger-menu/burger-menu.scss";

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 97px;
  color: $secondary-color;
  background-color: $primary-color;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 97px;
    width: 276px;
    background: url("../../../assets/images/svg/logo.svg");
  }
}